<div class="portfolio-container">
    <!-- Portfolio 1 -->
    <div class="portfolio-item">
      <div class="portfolio-preview">
        <a href="/projects/projects-1/">
          <img src="/images/preview_1.png" alt="Portfolio item 1">
        </a>
      </div>
      <div class="portfolio-description">
        <h3><a href="/projects/projects-1/" class="portfolio-title">
          Video Generation with Inference Image and Pose Guidance
        </a></h3>
        <div style="height: 15px;"></div>
        <p style="font-size: 15px; color: #666666;">
          Keywords: Video Generation, Motion Retargeting, 2D Diffusion
        </p>
      </div>
    </div>
  
    <!-- Portfolio 2 -->
    <div class="portfolio-item">
      <div class="portfolio-preview">
        <a href="/projects/projects-2/">
          <img src="/images/preview_2.png" alt="Portfolio item 2">
        </a>
      </div>
      <div class="portfolio-description">
        <h3><a href="/projects/projects-2/" class="portfolio-title">
          Human Motion to 3D Object Generation
        </a></h3>
        <div style="height: 15px;"></div>
        <p style="font-size: 15px; color: #666666;">
          Keywords: Human Motion, Generative Models, 3D Diffusion
        </p>
      </div>
    </div>
  
    <!-- Portfolio 3 -->
    <div class="portfolio-item">
      <div class="portfolio-preview">
        <a href="/projects/projects-3/">
          <img src="/images/preview_3.png" alt="Portfolio item 3">
        </a>
      </div>
      <div class="portfolio-description">
        <h3><a href="/projects/projects-3/" class="portfolio-title">
          Wearable Fiber Sensor for Hand Gesture Recognition
        </a></h3>
        <div style="height: 15px;"></div>
        <p style="font-size: 15px; color: #666666;">
          Keywords: Fiber Sensor, Wearable Devices, VR/AR
        </p>
      </div>
    </div>

    <!-- Portfolio 4 -->
    <div class="portfolio-item">
      <div class="portfolio-preview">
        <a href="/projects/projects-4/">
          <img src="/images/preview_4.png" alt="Portfolio item 4">
        </a>
      </div>
      <div class="portfolio-description">
        <h3><a href="/projects/projects-4/" class="portfolio-title">
          Sequential Sketch Stroke Generation
        </a></h3>
        <div style="height: 15px;"></div>
        <p style="font-size: 15px; color: #666666;">
          Keywords: Sequence Prediction, Sketch Stroke Generation, 
        </p>
      </div>
    </div>

    <!-- Portfolio 5 -->
    <div class="portfolio-item">
      <div class="portfolio-preview">
        <a href="/projects/projects-5/">
          <img src="/images/preview_5.png" alt="SMART Yoga Mat">
        </a>
      </div>
      <div class="portfolio-description">
        <h3><a href="/projects/projects-5/" class="portfolio-title">
          SMART Yoga Mat
        </a></h3>
        <div style="height: 15px;"></div>
        <p style="font-size: 15px; color: #666666;">
          Keywords: Velostat, Pressure Map, Motion Reconstruction
        </p>
      </div>
    </div>
  </div>
  